[Unit]
Description=SmartChair Backend Server
After=network.target

[Service]
Type=simple
# If your username on the Pi is not 'toppa' or 'pi', change this to your actual username.
User=momen
WorkingDirectory=/home/momen/smartchair_backend
# Adjust the path to where your backend directory is placed
ExecStart=/home/momen/smartchair_backend/venv/bin/python main.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
